<footer class="mt-3 bg-light rodape">
    <div class="container">
        <div class="col-md-12 d-flex justify-content-center">
            <h2 class="mt-2 textoFont">Siga-nos nas redes sociais</h2>
        </div>
    </div>

    <!-- Icones das redes sociais -->
    <div class="row col-md-12">
        <ul class="d-flex justify-content-center">
            <li>
                <a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
            </li>

            <li>
                <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
    </div>

    <div class="bg-light text-center textoFont">
        Sol Atelier © 2022
    </div>
</footer>