<div class="margemParaOMenu">
    <div class="row tamanhoHeight">
        <!-- itens -->
        <div class="col-auto" *ngFor="let dados of exemplomodel">
            <div class="quadradoFoto">
                <div class="parent">
                    <div class="child">
                        <img src="{{ dados.url[0] }}" alt="" class=""
                        [class.item1]="dados.nomeProduto === 'Produto 1' || dados.nomeProduto === 'Produto 2'  || dados.nomeProduto === 'Produto 4'"
                        [class.item2]="dados.nomeProduto === 'Produto 3' || dados.nomeProduto === 'Produto 5' || dados.nomeProduto === 'Produto 6' || dados.nomeProduto === 'Produto 7'
                        || dados.nomeProduto === 'Produto 8' || dados.nomeProduto === 'Produto 9' || dados.nomeProduto === 'Produto 10' || dados.nomeProduto === 'Produto 11'
                        || dados.nomeProduto === 'Produto 12' || dados.nomeProduto === 'Produto 13' || dados.nomeProduto === 'Produto 14' || dados.nomeProduto === 'Produto 15'
                        || dados.nomeProduto === 'Produto 16' || dados.nomeProduto === 'Produto 17' || dados.nomeProduto === 'Produto 18' || dados.nomeProduto === 'Produto 19'
                        || dados.nomeProduto === 'Produto 20' || dados.nomeProduto === 'Produto 21' || dados.nomeProduto === 'Produto 22' || dados.nomeProduto === 'Produto 23' 
                        || dados.nomeProduto === 'Potes de Mel' || dados.nomeProduto === 'Compotas' || dados.nomeProduto === 'Produto 27' || dados.nomeProduto === 'Produto 28'">
                    </div>
                </div>
                <div class="text-center mt-1">
                    <h3 class="textoFont">{{ dados.nomeProduto }}</h3>
                    <h2 class="textoFont" style="margin: -20px 0 15px 0;">{{ dados.preco }}</h2>
                    <button class="botaoComprar" (click)="passarDados(dados)">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>