<div class="margemParaOMenu">
    <div class="row tamanhoHeight">
        <!-- 1º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <div class="parent">
                    <div class="child">
                        <img src="../../assets/img/itens-catalogo/msg541852549-25302.jpg" alt="" class="item1">
                    </div>
                </div>
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-1">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        
        <!-- 2º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/msg541852549-25300.jpg" alt="" class="item2">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-2">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 3º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/toalha-1.jpg" alt="" class="item3">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-3">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 4º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/msg541852549-25299.jpg" alt="" class="item4">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-4">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 5º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/msg541852549-25286.jpg" alt="" class="">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-5">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 6º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/msg541852549-25290.jpg" alt="" class="">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-6">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 7º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/msg541852549-25291.jpg" alt="" class="">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-7">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 8º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/msg541852549-25289.jpg" alt="" class="">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-8">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 9º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/msg541852549-25293.jpg" alt="" class="">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-9">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 10º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/msg541852549-25292.jpg" alt="" class="">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-10">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 11º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/msg541852549-25295.jpg" alt="" class="">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-11">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 12º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/msg541852549-25298.jpg" alt="" class="">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-12">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 13º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/msg541852549-25278.jpg" alt="" class="item13">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-13">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 14º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/msg541852549-25284.jpg" alt="" class="item13">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-14">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 15º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/photo1643977642.jpeg" alt="" class="item13">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-15">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 16º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/photo1643977665.jpeg" alt="" class="item13">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-16">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 17º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/photo1643977668.jpeg" alt="" class="item13">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-17">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 18º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/photo1643977671.jpeg" alt="" class="item13">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-18">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 19º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/photo1643977674.jpeg" alt="" class="item13">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-19">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 20º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/photo1643977681.jpeg" alt="" class="item13">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-20">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 21º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/photo1646183502.jpeg" alt="" class="item13">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-21">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 22º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/photo1643977684.jpeg" alt="" class="item13">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-22">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 23º item -->
        <div class="col-auto">
            <div class="quadradoFoto">
                <img src="../../assets/img/itens-catalogo/photo1646183504.jpeg" alt="" class="item13">
                <div class="text-center mt-1">
                    <h3 class="textoFont">Nome do produto</h3>
                    <h2 class="textoFont">R$ 20,00</h2>
                    <button class="botaoComprar" routerLink="/item-23">
                        <span>
                            Comprar
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>