<div class="margemParaOMenu">
    <div class="container">
        <div class="row">
            <h1 class="mt-4 textoFont tamanhoTituloPrincipal">Sobre nós...</h1>
            <div class="col w-100">
                <img src="../../assets/img/logo_principal.png" alt="" class="margem">
            </div>
            <div class="col textoFont">
                <h2 class="tamanhoTitulo">Loja Mimos da Sol</h2>
                <p class="tamanhoDescricoes">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, hic obcaecati. Unde voluptas ea hic
                    autem fugit dicta atque esse dignissimos quam? Nobis illo laudantium amet consequuntur esse odit
                    officia.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum perspiciatis vel, in pariatur
                    voluptates maiores aspernatur ipsa, a minus quos doloremque illo ratione commodi nulla quisquam
                    natus, dolorem eligendi saepe?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel vitae voluptates, exercitationem
                    officiis, aliquid, optio quisquam adipisci quasi esse accusamus quis! Dolore, ea. Architecto
                    explicabo et quae assumenda. Amet, cumque!
                </p>
            </div>
        </div>

        <div class="imagem-wrapper">
            <img src="../../assets/img/divisorPagina.png" alt="" class="imagem">
        </div>

        <div class="row mt-5">
            <div class="col textoFont">
                <h2 class="tamanhoTitulo">Quem somos?</h2>
                <p class="tamanhoDescricoes">
                    Meu nome é Solange, proprietária do ateliê Mimos da Sol (amo o que eu faço! 🌹❤️)
                    Tenho 45 anos, sou casada a 26 e tenho uma filha de 23 anos.
                    Temos 3 cachorros, sendo que um deles se chama Thor e ele é minha sombrinha e meu companheiro de todas as
                    horas.
                </p>
            </div>
            <div class="col w-100 mb-5 d-flex justify-content-end">
                <img src="../../assets/img/logo_principal.png" alt="" class="margem">
            </div>
        </div>
    </div>
</div>