<div class="margemParaOMenu">
    <div class="row">
        <div class="col-md-7">
            <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let picture of exemplomodel.url; let i = index;" [ngClass]="{'active': i === 0}">
                        <div class="posicaoFoto">
                            <img [src]="picture" class="d-block w-100"
                                alt="...">
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-md-5">
            <h2 class="font-nome-produto">{{ exemplomodel.nomeProduto }}</h2>
            <h1 class="font-preco">R$ {{ exemplomodel.preco }}</h1>
            <br>
            <h3 class="sub-titulos">Cuidados com o seu mimo:</h3>
            <p class="font-explicacoes">Lavar em água temperatura ambiente e com sabão neutro, não expor a alvejante e não utilizar secadora.</p>
            <p class="font-explicacoes mt-2">Passar a ferro do avesso e em temperatura algodão.</p>
            <p class="font-explicacoes mt-2">* Estampas escuras ou fortes, lavar separadamente nas primeiras lavadas.</p>
            <p class="font-explicacoes mt-2">Enviamos pelo correio em até 5 dias úteis após confirmação do pagamento</p>
            <br>
            <h3 class="sub-titulos">Tamanho:</h3>
            <p class="font-explicacoes">{{ exemplomodel.tamanho }}</p>
            <br>
            <button class="comprarAgora" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <span>COMPRE AGORA</span>
            </button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="d-flex justify-content-end" style="margin: 10px 10px 0 0;">
                <button type="button" class="btn-close botaoX" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2>Como todos os nossos produtos são feitos a <span style="color: #48ab9c;">mão</span>, <span
                        style="color: #48ab9c;">sob encomenda</span> e com todo o <span
                        style="color: #48ab9c;">carinho</span>, pedimos para você
                    entrar em contato conosco atráves do botão a baixo, nos informe a <span
                        style="color: #9b8285;">estampa</span>
                    desejada ou até algum <span style="color: #9b8285;">detalhe especial</span>".</h2>
            </div>
            <div class="d-flex justify-content-center" style="margin: 0 0 15px 0;">
                <a type="button" class="btn btn-success corWhatsApp mb-3"
                    href="https://api.whatsapp.com/send?phone=+5511987890211&text=Ol%C3%A1,%20voc%C3%AA%20ficou%20com%20alguma%20d%C3%BAvida?%0DEscreva%20aqui:%0D%0DGostaria%20de%20fazer%20um%20pedido?%0DNome%20do%20produto%20desejado:%0DCor:%0DTamanho:%0DQuantidade:%0D%0DGostaria%20de%20algum%20detalhe%20especial?%0DEscreva%20aqui:%0D%0DObrigado%20pelo%20contato!"
                    target="_blank">
                    <span>WhatsApp</span>
                    <i class="fab fa-whatsapp" style="margin: 0 0 0 10px;"></i>
                </a>
            </div>
        </div>
    </div>
</div>