<div class="margemParaOMenu">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center imagem-wrapper2">
            <img src="../../assets/img/itens-catalogo/photo1644344376.jpeg" alt="..." class="imagem" style="top: 635px;">
        </div>
    </div>

    <div class="imagem-wrapper">
        <img src="../../assets/img/divisorPagina.png" alt="" class="imagem">
    </div>

    <div class="mt-5">
        <div class="row justify-content-center">
            <h1 class="textoFont text-center">Veja algumas das nossas opções do catálogo...</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="posicaoFoto">
                                <img src="../../assets/img/itens-catalogo/photo1643977689.jpeg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="posicaoFoto">
                                <img src="../../assets/img/itens-catalogo/photo1644344376.jpeg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="posicaoFoto">
                                <img src="../../assets/img/itens-catalogo/msg541852549-25278.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="posicaoFoto">
                                <img src="../../assets/img/itens-catalogo/msg541852549-25281.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="posicaoFoto">
                                <img src="../../assets/img/itens-catalogo/photo1644344375.jpeg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="posicaoFoto">
                                <img src="../../assets/img/itens-catalogo/photo1646183506.jpeg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <div class="row justify-content-center">
            <h1 class="textoFont text-center">...caso tenha se interessado, <a class="cliqueAqui"
                    routerLink="/catalogo">clique aqui!</a></h1>
        </div>
    </div>
</div>