<div class="margemParaOMenu">
    <div class="row">
        <div class="w-100 d-flex justify-content-center imagem-wrapper2">
            <img src="../../assets/img/clothes.jpg" alt="..." class="imagem" style="top: 635px;">
        </div>
    </div>


    <div class="col-md-12 imagem-wrapper">
        <img src="../../assets/img/divisorPagina.png" alt="" class="imagem">
    </div>

    <div class="mt-5">
        <div class="row justify-content-center">
            <h1 class="textoFont text-center">Frase motivacional</h1>
        </div>
    </div>
    <div class="espaco"></div>
    <!-- <div class="row">
        <div class="carrousel">
            <div class="carrousel-item">
                <img src="../../assets/img/clothes.jpg" alt="">
                <h3>Someaiersgfn</h3>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="container">
            <div class="carousel">
                <div class="carousel__face"><span>This is something</span></div>
                <div class="carousel__face"><span>Very special</span></div>
                <div class="carousel__face"><span>Special is the key</span></div>
                <div class="carousel__face"><span>For you</span></div>
                <div class="carousel__face"><span>Just give it</span></div>
                <div class="carousel__face"><span>A try</span></div>
                <div class="carousel__face"><span>And see</span></div>
                <div class="carousel__face"><span>How IT Works</span></div>
                <div class="carousel__face"><span>Woow</span></div>
            </div>
        </div>
    </div>
    
</div>